body{
    background-color: gray;
    height: 600px;

}

#tudo{
    background-color: orange;
    padding: 5px;
    display: inline-block;
}

.quad{
    height: 150px;
    width: 150px;
    float: left;
    margin: 0px 10px;
}

#quad1{
    background-color: red;
    flex-shrink: 0;
}

#quad2{
    background-color: yellow;
    flex-grow: 1;
}
#quad3{
    background-color: green;
}

/* #container{
    background-color: black;
    padding: 5%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

#container2{
    background-color: aqua;
    display: grid;
    height: 600px;
    /* grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto; */
    grid-template: 40vh auto / 1fr auto 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
}